<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OCHamcrest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>libochamcrest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>081BEE611345979F003F846A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>081BEE6B1345979F003F846A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>087601E113440806001B439B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>087601F613440807001B439B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
